

#optionsWrapper{		
	margin-right: 15px;
	padding: 10px;
}

.spacer10 {
    margin-top: 10px;
    height: 1px; 
}
.spacer20 {
    margin-top: 20px;
    height: 1px; 
}

.optionBox{
	background-color: #F2F2F2;
	padding: 15px;
	border-radius: 5px;
}
.hline{
	height: 1px;
	background-color: #CCC;
	margin-top: 7px;
	margin-bottom: 7px;
}

.sk_notice{
	padding: 10px;
	background-color: #d9edf7;
	color: #3a87ad;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #bce8f1;	
}

.shortcode_showcase{
	margin-right: 15px;
	background-color: #b8e0a8;
}

/* bootstrap override
================================================== */
.tabbable{
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #CCC;
}
.tab-pane{
	padding-right: 20px;
}
.checkbox{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;		
	font-style: italic;
	margin-left: 15px;
	color: #7a7777;
}
.colorpicker input{
	visibility: hidden;
}

/* end bootstrap override
================================================== */
